<div class="flex-cont">
    <div class="col">
        <hr >
        <h2 class="pad10">Components</h2>
        <hr>
        <div class="pad10">
        <input type="text" placeholder="Enter Name" [(ngModel)]= "name">
        <h2>Second below</h2>
        <app-second [Name]="name"></app-second>
        <h2>First below</h2>
        <app-first [Name]="name" (OtherName)="OtherName($event)"></app-first>
        </div>
    </div>
    <div class="col">
        <hr>
        <h2 class="pad10">Hooks</h2>
        <hr>
        <li *ngFor="let hook of hooksArray">{{hook}}</li>
    </div>
</div>
<router-outlet></router-outlet>




